* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

/* ABOUT SECTION */
.about-description {
    max-width: 800px;
}

/* PROMO SECTION */
.promo {
    min-height: 350px;
    background-color: #F2B18A;
}