<div class="row">
    <div class="col-lg-6 d-block">
        <img src="../../upload/katalog/produk 1.jpg" alt="" class="w-100">
    </div>
    <div class="col-lg-6 d-block px-3">
        <h2 class="display-6 mb-3">Luna Dress</h2>
        <p class="fs-4 fw-bold text-muted">Rp. 45.000</p>
        <hr>
        <p class="product-description mb-3">
            Perpaduan warna Latte pada bagian furing dan gold pada tulle melahirkan warna natural yang sangat mewah dan elegant 
            <br>
            <ul>
                <li>Available size : M/L/XL : Ld 100/105/110 *cutting pada</li>
                <li>Luna Dress ini press body dan cenderung lebih kecil memberi kesan jenjang, slim, dan mewa</li>
                <li>Panjang baju : 140cm</li>
                <li>Akses resleting belakang 50cm </li>
                <li>Panjang tangan : 56-57cm </li>
                <li>Tulle bagian depan </li>
                <li>Matterial : Maxmara ori dan tulle premium</li>
            </ul>
        </p>
        <div class="d-flex align-items-center mb-3">
            <strong>Size</strong>
            <select id="product-size" class="mx-3 form-select" style="width: 100px;">
                <option value="L">L</option>
                <option value="M">M</option>
                <option value="S">S</option>
            </select>
        </div>
        <button class="btn btn-lg bg-black text-white w-100" id="checkout">Buy now</button>
        <small class="text-center text-muted d-block my-2">*after click this button, you will redirect to WhatsApp pages</small>
    </div>
</div>