<div class="row">
    <div class="col-lg-6 d-block">
        <img src="../../upload/katalog/produk 2.jpg" alt="" class="w-100">
    </div>
    <div class="col-lg-6 d-block px-3">
        <h2 class="display-6 mb-3">Outter Kimono</h2>
        <p class="fs-4 fw-bold text-muted">Rp. 45.000</p>
        <hr>
        <p class="product-description mb-3">
            Your best everyday-outer. Inspired by japanese traditional clothes, comes with a twist into a modern way. A boxy cut and strings that will improve your looks.
            <br><br>Available in black, white, sage and brown. 
            Material Using premium linen, soft and comfort. <br>*actual color may slightly different from your display screen 
            Model is wearing size S/M Height 165 cm Weight 45 kg
        </p>
        <div class="d-flex align-items-center mb-3">
            <strong>Size</strong>
            <select id="product-size" class="mx-3 form-select" style="width: 100px;">
                <option value="L">L</option>
                <option value="M">M</option>
                <option value="S">S</option>
            </select>
        </div>
        <button class="btn btn-lg bg-black text-white w-100" id="checkout">Buy now</button>
        <small class="text-center text-muted d-block my-2">*after click this button, you will redirect to WhatsApp pages</small>
    </div>
</div>